NEXT_PUBLIC_API_BASE=https://wings.tcds.ltd
NEXT_PUBLIC_CHAIN_RPC=https://api.explorer.provable.com/v1
NEXT_PUBLIC_CHAIN_TYPE=testnet
NEXT_PUBLIC_CHAIN=testnetbeta # mainnet, testnetbeta
NEXT_PUBLIC_HOLDER=aleo1hac8kndgfp7eh545yeu6k2ue32yn3dt7qe5xl54d6lpe7xecyq9qkxc3tx # holder account of server